In [ ]:
#TOPIC: String Based Assignment Problem

### 1. Write a program to reverse a string

s1="bajrang"

s1[::-1]

In [ ]:
### 2. Check if a string is a palindrome.
s="pawan"
s=s.lower()
s=''.join(x for x in s if s.isalpha())

s[::-1]

In [ ]:
### 3. Convert a string to uppercase.

s=str(input("enter the string"))
s.upper()

In [ ]:
### 4. Convert a string to lowercase.

s2="PAWAN"
s2.lower()

In [ ]:
##5. Count the number of vowels in a string
def vowel_num(string :str):
    vowels = "aeiou"
    count = 0
    for str in string:
        if str.lower() in vowels:
            count += 1
    return count

In [ ]:
vowel_num("bajrang")

In [ ]:
###6. Count the number of consonants in a string
def consonant_num(string :str ):
    vowel="aeiouAEIOU"
    count=0
    for str in string:
        if str.isalpha() and str.lower() not in vowel :
            count+=1
    return count

In [ ]:
consonant_num("bajrang")

In [29]:
##7. Remove all whitespaces from a string.

In [30]:
def whitespace(string: str):
    return string.replace(" ", "")

In [31]:
whitespace("bajrang dahale")

'bajrangdahale'

In [32]:
whitespace("i am")

'iam'

In [33]:
###8. Find the length of a string without using the `len()` function
def count_string(string: str):
    count = 0
    for _ in string:
        count += 1
    return count

In [34]:
count_string("bajrang")

7

In [43]:
###9. Check if a string contains a specific word.
def contains_word(string: str, word: str):
    return word in string

#The function contains_word takes two strings as input and returns True if the second string is present in the first string, and False otherwise.

In [45]:
contains_word(" programming language ","language")

True

In [24]:
##10. Replace a word in a string with another word.

sentence = "The quick brown fox jumps over the lazy dog."
new_sentence = sentence.replace("fox", "cat")
print(new_sentence)

The quick brown cat jumps over the lazy dog.

In [15]:
##11. Count the occurrences of a word in a string

string = "bajrang dahale!"
word= "a"
count = string.count(word)
print(count)

4

In [18]:
#12. Find the first occurrence of a word in a string.

string = "Hello,bajrang"
first = "bajrang"
index = string.find(first)
print(index)

6

In [21]:
#13. Find the last occurrence of a word in a string.

string = "Hello, bajrang"
last = "bajrang"
index = string.rfind(last)
print(index)

7

In [23]:
#14. Split a string into a list of words

sentence = "This is a simple sentence i attend python session"
words = sentence.split()
print(words)

['This', 'is', 'a', 'simple', 'sentence', 'i', 'attend', 'python', 'session']

In [30]:
##15. Join a list of words into a string

words = ['apple', 'banana', 'cherry']
comma = ','
sentence = comma.join(words)
print(sentence)

apple,banana,cherry

In [31]:
##16.Convert a string where words are separated by spaces to one where words
#are separated by underscores.

words = "This is a sample sentence."
sentence = words.replace(" ", "_")
print(sentence)

This_is_a_sample_sentence.

In [32]:
##17. Check if a string starts with a specific word or phrase.

text = "This is a sample text"
if text.startswith("This"):
    print("The text starts with 'This'")

The text starts with 'This'

In [33]:
##18. Check if a string ends with a specific word or phrase

text = "This is a sample text"
if text.endswith("text"):
    print("The text ends with 'text'")

The text ends with 'text'

In [34]:
##19. Convert a string to title case (e.g., "hello world" to "Hello World")

string1="bajrang dahale"
string1.title()

'Bajrang Dahale'

In [37]:
##20. Find the longest word in a string.

def find_longest_word(text):
    words = text.split()
    longest_word = ""
    for word in words:
        if len(word) > len(longest_word):
            longest_word = word
    return longest_word
text = "i am learning python programming language"
longest_word = find_longest_word(text)
print(f"The longest word in '{text}' is '{longest_word}'")

The longest word in 'i am learning python programming language' is 'programming'

In [7]:
##21. Find the shortest word in a string.

def find_short_word(text):
    words = text.split()
    short_word = words[0]
    for word in words:
        if len(word) < len(short_word):
            short_word = word
    return short_word
text = "i am learning python programming language"
short_word = find_short_word(text)
print(f"The short word in '{text}' is '{short_word}'")

The short word in 'i am learning python programming language' is 'i'

In [8]:
##22. Reverse the order of words in a string.

string = "pawan Dahale"
words = string.split()
reversed_words = words[::-1]
reversed_string = " ".join(reversed_words)
print(reversed_string)

Dahale pawan

In [10]:
##23. Check if a string is alphanumeric

string="ganesh"
s1=string.isalnum()
print(s1)

True

In [18]:
##24. Extract all digits from a string.

string="bajrang 23 dahale 63"
result = " "

for char in string:
    if char.isdigit():
        result += char

print(result)

 2363

In [19]:
##25. Extract all alphabets from a string.

string="bajrang 23 dahale 63"
result = " "

for char in string:
    if char.isalpha():
        result += char

print(result)

 bajrangdahale

In [21]:
##26. Count the number of uppercase letters in a string

string="PytHoN"
count = sum(1 for char in string if char.isupper())
print(f"The number of uppercase letters in '{string}' is {count}.")

The number of uppercase letters in 'PytHoN' is 3.

In [24]:
##27. Count the number of lowercase letters in a string

string="PytHoNs"
count = sum(1 for char in string if char.islower())
print(f"The number of lowercase letters in '{string}' is {count}.")

The number of lowercase letters in 'PytHoNs' is 4.

In [33]:
##28. Swap the case of each character in a string

string="BAjrang"
swap_string=string.swapcase()
print(swap_string)

baJRANG

In [35]:
##29. Remove a specific word from a string


string="java python Javascript java"
word_to_remove = "java"
new_string = string.replace(word_to_remove, "")
print(new_string)

 python Javascript

In [13]:
##30. Check if a string is a valid email address.

import re

def is_valid_email(email):
    pattern = r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$'
    return re.match(pattern, email) is not None
email = "bajrang@45.com"
if is_valid_email(email):
    print("Valid email address")
else:
    print("Invalid email address")

Valid email address

In [14]:
##31. Extract the username from an email address string

def extract_username(email):
    username = email.split('@')[0]
    return username
email = "bajrang@45.com"
username = extract_username(email)
print("Username:", username)

Username: bajrang

In [15]:
##32. Extract the domain name from an email address string.

def extract_domain(email):
    domain = email.split('@')[1]
    return domain
email = "example@45.com"
domain = extract_domain(email)
print("Domain:", domain)

Domain: 45.com

In [18]:
##33. Replace multiple spaces in a string with a single space.

def replace_multiple_spaces(string):
    return ' '.join(string.split())
string = "bajrang    dahale"
new_string = replace_multiple_spaces(string)
print("New string:", new_string)

New string: bajrang dahale

In [11]:
#34. Check if a string is a valid URL
##35. Extract the protocol (http or https) from a URL string.

ModuleNotFoundError: No module named 'validators'

In [2]:
##36. Find the frequency of each character in a string.

from collections import Counter

string = "bajrang dahale"
frequency = Counter(string)

for char, count in frequency.items():
    print(f"The character '{char}' appears {count} times in the string.")

The character 'b' appears 1 times in the string.
The character 'a' appears 4 times in the string.
The character 'j' appears 1 times in the string.
The character 'r' appears 1 times in the string.
The character 'n' appears 1 times in the string.
The character 'g' appears 1 times in the string.
The character ' ' appears 1 times in the string.
The character 'd' appears 1 times in the string.
The character 'h' appears 1 times in the string.
The character 'l' appears 1 times in the string.
The character 'e' appears 1 times in the string.

In [10]:
##37. Remove all punctuation from a string.

def remove_punctuation(string):
    return ''.join(ch for ch in string if ch.isalnum())

# Test the function
string = "Hello, bajrang! How's it going?)"
result = remove_punctuation(string)
print(f"Without punctuation: '{result}'")

Without punctuation: 'HellobajrangHowsitgoing'

In [8]:
##38. Check if a string contains only digits.

def is_digits_only(string):
    return string.isdigit()

# Test the function
string = "12345"
result = is_digits_only(string)
print(f"'{string}' contains only digits: {result}")

'12345' contains only digits: True

In [17]:
####39. Check if a string contains only alphabets


strings = ["pawan", "ganesh23", "123456"]

for string in strings:
    print(f"{string!r} contains only alphabets: {string.isalpha()}")

'pawan' contains only alphabets: True
'ganesh23' contains only alphabets: False
'123456' contains only alphabets: False

In [18]:
##40. Convert a string to a list of characters

string = "dhananjay"
char_list = list(string)
print(char_list)

['d', 'h', 'a', 'n', 'a', 'n', 'j', 'a', 'y']

In [19]:
##41. Check if two strings are anagrams.

from collections import Counter

def is_anagram(string1, string2):
    counter1 = Counter(string1)
    counter2 = Counter(string2)
    return counter1 == counter2

string1 = "listen"
string2 = "silent"
print(is_anagram(string1, string2))
#In this code snippet, the is_anagram() function is used to check if two strings are anagrams.
#It compares the character frequencies in the two strings using the Counter class.

True

In [26]:
##42. Encode a string using a Caesar cipher.

def caesar_cipher_encode(string, shift):
    encoded_string = ""
    for char in string:
        if char.isalpha():
            ascii_offset = ord('a') if char.islower() else ord('A')
            encoded_char = chr((ord(char) - ascii_offset + shift) % 26 + ascii_offset)
            encoded_string += encoded_char
        else:
            encoded_string += char
    return encoded_string

string = "pawan"
shift = 3
encoded_string = caesar_cipher_encode(string, shift)
print(encoded_string)

#caesar_cipher_encode() function is used to encode a string using a Caesar cipher.
#It iterates over each character in the string and checks if it is an alphabetic character

sdzdq

In [27]:
##43. Decode a Caesar cipher encoded string

def caesar_cipher_decode(encoded_string, shift):
    decoded_string = ""
    for char in encoded_string:
        if char.isalpha():
            ascii_offset = ord('a') if char.islower() else ord('A')
            decoded_char = chr((ord(char) - ascii_offset - shift) % 26 + ascii_offset)
            decoded_string += decoded_char
        else:
            decoded_string += char
    return decoded_string

encoded_string = "sdzdq"
shift = 3
decoded_string = caesar_cipher_decode(encoded_string, shift)
print(decoded_string)

pawan

In [31]:
##44. Find the most frequent word in a string.

import re
from collections import Counter

def most_frequent_word(text):
    words = re.findall(r'\b\w+\b', text.lower())
    word_counts = Counter(words)
    most_frequent_word = word_counts.most_common(1)[0][0]
    return most_frequent_word

text = "Hello Bajrang,bajrang! Python is a  programming language."
most_frequent_word = most_frequent_word(text)
print(most_frequent_word)

bajrang

In [33]:
##45. Find all unique words in a string.

import re
from collections import Counter

def unique_words(text):
    words = re.findall(r'\b\w+\b', text.lower())
    word_counts = Counter(words)
    unique_word_list = list(word_counts.keys())
    return unique_word_list

text = "Hello bajrang ! Let's write some code."
unique_words = unique_words(text)
print(unique_words)

['hello', 'bajrang', 'let', 's', 'write', 'some', 'code']

In [6]:
##46. Count the number of syllables in a string.

word = input("Enter a word: ")
word = word.lower()
vowels = "aeiou"
count = 0
if word[0] in vowels:
    count += 1
for index in range(1, len(word)):
    if word[index] in vowels and word[index - 1] not in vowels:
        count += 1
if word.endswith("e"):
    count -= 1
if count == 0:
    count += 1
print("The number of syllables in the word is:", count)

Enter a word:  pawan

The number of syllables in the word is: 2

In [7]:
##47. Check if a string contains any special characters.

special_characters = "!@#$%^&*()_+-=[]{}|;':\",./<>?"
string = input("Enter a string: ")
for character in string:
    if character in special_characters:
        print("The string contains special characters.")
        break
else:
    print("The string does not contain any special characters.")

Enter a string:  bajrang@#12

The string contains special characters.

In [11]:
##48. Remove the nth word from a string.

string = input("Enter a string: ")
n = int(input("Enter the index of the word to remove: "))
words = string.split()
new_string = ""
for i in range(len(words)):
    if i != n:
        new_string += words[i] + " "
print("The new string is:", new_string.strip())

Enter a string:  i am learning python programming language
Enter the index of the word to remove:  3

The new string is: i am learning programming language

In [15]:
##49. Insert a word at the nth position in a string.

string = input("Enter a string: ")
word = input("Enter a word to insert: ")
n = int(input("Enter the index of the position to insert the word: "))
new_string = string[:n] + word + string[n:]
print("The new string is:", new_string)

Enter a string:  i read newpaper
Enter a word to insert:  yesterday
Enter the index of the position to insert the word:  16

The new string is: i read newpaper yesterday

In [16]:
## 50. Convert a CSV string to a list of lists.

csv_string = input("Enter a CSV string: ")
rows = csv_string.split("\\n")
list_of_lists = []
for row in rows:
    list_of_lists.append(row.split(","))
print("The list of lists is:", list_of_lists)

Enter a CSV string:  1,2,3,4,5,6,7,8,9

The list of lists is: [['1', '2', '3', '4', '5', '6', '7', '8', '9']]

In [17]:
##_____List Based Practice Problem :


## 1. Create a list with integers from 1 to 10.

list1=[1,2,3,4,5,6,7,8,9,10]

In [18]:
type(list1)

list

In [19]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
## 2. Find the length of a list without using the `len()` function.

my_list = [1, 2, 3, 4, 5,6]
count = 0
for element in my_list:
    count += 1
print(f"The length of the list is {count}.")

The length of the list is 6.

In [3]:
## 3. Append an element to the end of a list.

list2=[12,3,4,63,56,78]
list2.append(45)
print(f"The new list is {list2}.")

The new list is [12, 3, 4, 63, 56, 78, 45].

In [4]:
## 4. Insert an element at a specific index in a list.

list2=[12,3,4,63,56,78]
list2.insert(2,23)
print(f"the new element list is {list2}.")

the new element list is [12, 3, 23, 4, 63, 56, 78].

In [5]:
## 5. Remove an element from a list by its value.

list3=[12,3,56,7,76,8,64]
list3.remove(76)

In [6]:
list3

[12, 3, 56, 7, 8, 64]

In [7]:
## 6. Remove an element from a list by its index.

list4=[12,3,56,8,64]
del list4[2]
print(f"The new list is {list4}.")

The new list is [12, 3, 8, 64].

In [3]:
## 7. Check if an element exists in a list.

list5=[8,7,65,54,3,2,36]
if 33 in list5:
    print("the number is exist in list")
else:
        print("the number doesn't  exist in list")

the number doesn't  exist in list

In [8]:
##  8. Find the index of the first occurrence of an element in a list


my_list = [1, 2, 3, 4, 5]
element = 3
index = my_list.index(element)
print(f"The index of the first occurrence of {element} is {index}.")

The index of the first occurrence of 3 is 2.

In [9]:
## 9. Count the occurrences of an element in a list.

my_list = [1, 2, 3, 4, 5, 3, 2, 1, 3]
element = 3
count = my_list.count(element)
print(f"The element {element} occurs {count} times in the list.")

The element 3 occurs 3 times in the list.

In [10]:
## 10. Reverse the order of elements in a list.

list7=[235,3,466,3,257,63,4,63,23]
list7.reverse()
print(f"the list is reversal order of the element {list7}.")

the list is reversal order of the element [23, 63, 4, 63, 257, 3, 466, 3, 235].

In [2]:
## 11. Sort a list in ascending order.

list8=[575,34,65,7,78,78,54,325,34]
list8.sort()
print(f" this list in a sort by ascending order {list8}.")

 this list in a sort by ascending order [7, 34, 34, 54, 65, 78, 78, 325, 575].

In [6]:
## 12. Sort a list in descending order.

list9=[1346,37,436,7,4,3,5,2,32,544]
list9.sort(reverse=True)
print(f"sort a list in descending in order {list9}.")

sort a list in descending in order [1346, 544, 436, 37, 32, 7, 5, 4, 3, 2].

In [11]:
## 13. Create a list of even numbers from 1 to 20.

list11=[]
for n in range(1,21):
    if n%2==0:
        print("list of even number between 1 to 20 :",n)

list of even number between 1 to 20 : 2
list of even number between 1 to 20 : 4
list of even number between 1 to 20 : 6
list of even number between 1 to 20 : 8
list of even number between 1 to 20 : 10
list of even number between 1 to 20 : 12
list of even number between 1 to 20 : 14
list of even number between 1 to 20 : 16
list of even number between 1 to 20 : 18
list of even number between 1 to 20 : 20

In [12]:
## 14. Create a list of odd numbers from 1 to 20.

list11=[]
for n in range(1,21):
    if n%2!=0:
        print("list of odd number between 1 to 20 :",n)

list of odd number between 1 to 20 : 1
list of odd number between 1 to 20 : 3
list of odd number between 1 to 20 : 5
list of odd number between 1 to 20 : 7
list of odd number between 1 to 20 : 9
list of odd number between 1 to 20 : 11
list of odd number between 1 to 20 : 13
list of odd number between 1 to 20 : 15
list of odd number between 1 to 20 : 17
list of odd number between 1 to 20 : 19

In [15]:
## 15. Find the sum of all elements in a list.

list01=[1,2,3,4,5,6,7,8,9]
s=0
for i in list01:
    s=s+i
    print(s)

1
3
6
10
15
21
28
36
45

In [5]:
## 16. Find the maximum value in a list.

list02=[23,34,656,4,3,53,2,455]
max_value = max(list02)
print(f"The maximum value in the list is {max_value}.")

The maximum value in the list is 656.

In [6]:
## 17. Find the minimum value in a list.

list02=[23,34,656,4,3,53,2,455]
min_value = min(list02)
print(f"The minimum value in the list is {min_value}.")

The minimum value in the list is 2.

In [11]:
## 18. Create a list of squares of numbers from 1 to 10

list03=[1,2,3,4,5,6,7,8,9,10]
for i in list03:
    print("square between in 1 to 10 ::",i*i)

square between in 1 to 10 :: 1
square between in 1 to 10 :: 4
square between in 1 to 10 :: 9
square between in 1 to 10 :: 16
square between in 1 to 10 :: 25
square between in 1 to 10 :: 36
square between in 1 to 10 :: 49
square between in 1 to 10 :: 64
square between in 1 to 10 :: 81
square between in 1 to 10 :: 100

In [18]:
## 19. Create a list of random numbers

import random
n = 10
start = 1
end = 100
random_list = random.sample(range(start, end), n)
print(f"The list of {n} random numbers between {start} and {end} is: {random_list}")

The list of 10 random numbers between 1 and 100 is: [1, 31, 61, 77, 48, 10, 41, 66, 59, 74]

In [19]:
##  20. Remove duplicates from a list

mylist = [1, 2, 3, 4, 5, 3, 2, 1, 3]
new_list = list(set(mylist))
print(f"The new list without duplicates is {new_list}.")

The new list without duplicates is [1, 2, 3, 4, 5].

In [23]:
## 21. Find the common elements between two lists.

list1 = [1, 2, 3, 4, 5, 3, 2, 1, 3]
list2 = [3, 5, 7, 9]
common_elements = list(set(list1).intersection(list2))
print(f"The common elements between are {common_elements}.")

The common elements between are [3, 5].

In [24]:
## 22. Find the difference between two lists.

list1 = [1, 2, 3, 4, 5, 3, 2, 1, 3]
list2 = [3, 5, 7, 9]
difference = list(set(list1) - set(list2))
print(f"The difference between is {difference}.")

The difference between is [1, 2, 4].

In [26]:
## 23. Merge two lists

list1 = [1, 2, 3, 4, 5, 3]
list2 = [3, 5, 7, 9]
merge = (list1)+(list2)
print(f"The difference between is {merge}.")

The difference between is [1, 2, 3, 4, 5, 3, 3, 5, 7, 9].

In [28]:
## 24. Multiply all elements in a list by 2.
# using list comprehension 
list1 = [1, 2, 3, 4, 5]
new_list = [element * 2 for element in list1]
print(f"All elements are multiplied by 2 is {new_list}.")

All elements are multiplied by 2 is [2, 4, 6, 8, 10].

In [30]:
## 25. Filter out all even numbers from a list.
## using list comprehension 
mylist = [1, 2, 3, 4, 5]
new_list = [element for element in mylist if element % 2 != 0]
print(f" All even elements removed is {new_list}.")

 All even elements removed is [1, 3, 5].

In [31]:
## 26. Convert a list of strings to a list of integers.
# using map concept

string_list = ['1', '2', '3', '4', '5']
int_list = list(map(int, string_list))
print(f"All elements converted to integers is {int_list}.")

All elements converted to integers is [1, 2, 3, 4, 5].

In [32]:
### 27. Convert a list of integers to a list of strings.

my_list = [1, 2, 3, 4, 5]
new_list = list(map(str, my_list))
print(f"TAll elements converted to strings is {new_list}.")

TAll elements converted to strings is ['1', '2', '3', '4', '5'].

In [33]:
## 28. Flatten a nested list.

nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = [element for sublist in nested_list for element in sublist]
print(f"The flattened list is {flat_list}.")

The flattened list is [1, 2, 3, 4, 5, 6, 7, 8, 9].

In [34]:
## 29. Create a list of the first 10 Fibonacci numbers.

fibonacci = [0, 1]
for i in range(2, 10):
    fibonacci.append(fibonacci[i-1] + fibonacci[i-2])
print(f"The first 10 Fibonacci numbers are {fibonacci}.")

The first 10 Fibonacci numbers are [0, 1, 1, 2, 3, 5, 8, 13, 21, 34].

In [36]:
## 30. Check if a list is sorted.
#using list comprehesion

mylist = [1, 2, 3, 4, 5]
if all(mylist[i] <= mylist[i+1] for i in range(len(mylist)-1)):
    print("The list is sorted.")
else:
    print("The list is not sorted.")

The list is sorted.

In [38]:
## 31. Rotate a list to the left by `n` positions.

mylist = [1, 2, 3, 4, 5]
n = 2
rotated_list = mylist[n:] + mylist[:n]
print(f"The list rotated to the left by {n} positions is {rotated_list}.")

The list rotated to the left by 2 positions is [3, 4, 5, 1, 2].

In [44]:
## 32. Rotate a list to the right by `n` positions.

mylist = [1, 2, 3, 4, 5]
n = 2
rotated_list = mylist[-n:] + mylist[:-n]
print(f"The list rotated to the right by {n} positions is {rotated_list}.")

The list rotated to the right by 2 positions is [4, 5, 1, 2, 3].

In [1]:
## 33. Create a list of prime numbers up to 50.

primes = []
for num in range(2, 51):
    is_prime = True
    for i in range(2, num):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        primes.append(num)
print(f"Prime numbers up to 50: {primes}")

Prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [4]:
## 34. Split a list into chunks of size `n`.

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
n = 3
chunks = [my_list[i:i+n] for i in range(0, len(my_list), n)]
print(f"The list split into chunks of size {n} is: {chunks}")

The list split into chunks of size 3 is: [[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [6]:
## 35. Find the second largest number in a list.

list2 = [1, 3, 5, 7, 9, 2, 4, 6, 8, 10]
largest = second_largest = float('-inf')
for num in list2:
    if num > largest:
        second_largest = largest
        largest = num
    elif num > second_largest:
        second_largest = num
print(f"The second largest number in {list2} is {second_largest}")

The second largest number in [1, 3, 5, 7, 9, 2, 4, 6, 8, 10] is 9

In [7]:
## 36. Replace every element in a list with its square.

my_list = [1, 2, 3, 4, 5]
my_list = list(map(lambda x: x**2, my_list))
print(my_list)

[1, 4, 9, 16, 25]

In [8]:
##37. Convert a list to a dictionary where list elements become keys and their
## indices become values.


my_list = ['apple', 'banana', 'cherry']
my_dict = {key: value for value, key in enumerate(my_list)}
print(my_dict)

{'apple': 0, 'banana': 1, 'cherry': 2}

In [10]:
### 38. Shuffle the elements of a list randomly

import random

mlist = [1, 2, 3, 4, 5]
random.shuffle(mlist)
print(mlist)

[2, 4, 5, 3, 1]

In [11]:
## 39. Create a list of the first 10 factorial numbers.

s = []
s = [s[-1] for x in range(1, 10) if not s.append(x * s[-1] if s else 1)]
print(s)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [12]:
## 40. Check if two lists have at least one element in common.

def have_common_element(list1, list2):
  for elem in list1:
    if elem in list2:
      return True
  return False

In [13]:
have_common_element([2,3,45,1,2],[2,34,45,23,1,2])

True

In [14]:
## 41. Remove all elements from a list.

my_list = [1, 2, 3,32,2,43,54,35,21, 4, 5]
my_list.clear()
print(my_list)

[]

In [15]:
## 42. Replace negative numbers in a list with 0.

my_list = [1, -2, 3, -4, 5, -6]
my_list = [0 if x < 0 else x for x in my_list]
print(my_list)

[1, 0, 3, 0, 5, 0]

In [16]:
## 43. Convert a string into a list of words.

sentence = "This is a string with words"
words = sentence.split()
print(words)

['This', 'is', 'a', 'string', 'with', 'words']

In [17]:
##44. Convert a list of words into a string.

words = ["Hello", "world"]
sentence = " ".join(words) # use a space as the separator
print(sentence) # prints "Hello world"

Hello world

In [18]:
## 45 Create a list of the first `n` powers of 2.

import numpy as np
n = 5 # change this to any positive integer
base = np.full(n, 245) # create an array of n elements with value 245
exponent = np.arange(n) # create an array of n elements with value 0 to n-1
powers = np.power(base, exponent) # compute the element-wise power
powers = powers.tolist() # convert the numpy array to a list
print(powers) # prints [1, 245, 60025, 14700625, 360050625]
n = 5 # change this to any positive integer
powers = [2**i for i in range(n)] # create a list with value 2^i for i from 0 to n-1
print(powers) # prints [1, 2, 4, 8, 16]

[1, 245, 60025, 14706125, 3603000625]
[1, 2, 4, 8, 16]

In [19]:
## 46. Find the longest string in a list of strings.

my_list = ["apple", "banana", "cherry", "date"]
longest = max(my_list, key=len)
print(longest) # prints cherry

banana

In [20]:
## 47. Find the shortest string in a list of strings.

my_list = ["apple", "banana", "cherry", "date"]
shortest = min(my_list, key=len)
print(shortest) # prints date

date

In [21]:
## 48. Create a list of the first `n` triangular numbers

n = 10 # change this to any positive integer
triangular_numbers = [n * (n + 1) // 2 for n in range(1, n + 1)]
print(triangular_numbers) # prints [1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55]

In [22]:
## 49. Check if a list contains another list as a subsequence.

def contains(list1, list2):
  # check if list2 is empty
  if not list2:
    return True
  # check if list1 is shorter than list2
  if len(list1) < len(list2):
    return False
  # loop through list1
  for i in range(len(list1) - len(list2) + 1):
    # compare the subsequence starting from index i with list2
    if list1[i:i+len(list2)] == list2:
      # return the start and end indices of the subsequence
      return [i, i+len(list2)-1]
  # return False if no subsequence is found
  return False

In [27]:
contains([1,2,3,4,5],[1,2,3,4,5,34,2,3])

False

In [28]:
## 50. Swap two elements in a list by their indices.

lst = ["a", "b", "c", "d"]
i, j = 1, 3 # Swap index i=1 with index j=3
lst[i], lst[j] = lst[j], lst[i]
print(lst) # ["a", "d", "c", "b"]

['a', 'd', 'c', 'b']

In [29]:
#####_______Tuple Based Practice Problem :
    

## 1. Create a tuple with integers from 1 to 5.

t1=(1,2,3,4,5)

In [30]:
type(t1)

tuple

In [31]:
t1

(1, 2, 3, 4, 5)

In [ ]:
## 2. Access the third element of a tuple.

my_tuple = ("apple", "banana", "cherry", "date")

# Access the third element (index 2)
print(my_tuple[2])

In [32]:
## 3. Find the length of a tuple without using the `len()` function.

def tuple_length(t):
  # initialize a counter variable
  count = 0
  # loop through the tuple
  for elem in t:
    # increment the counter by 1
    count += 1
  # return the counter value
  return count

In [34]:
tuple_length("apple")

5

In [35]:
## 4. Count the occurrences of an element in a tuple.

# create a tuple of fruits
fruits = ("apple", "banana", "cherry", "apple", "mango")

# count the occurrences of "apple"
count = fruits.count("apple")
print(count) # prints 2

2

In [40]:
## 5. Find the index of the first occurrence of an element in a tuple.
colors = ("red", "green", "blue", "yellow", "pink", "green")

index = colors.index("green")
print(index) # prints 1

1

In [41]:
## 6. Check if an element exists in a tuple.

# Create a tuple of numbers
my_tuple = (1, 2, 3, 4, 5)

# Check if 3 is in the tuple
print(3 in my_tuple) # prints True

# Check if 6 is in the tuple
print(6 in my_tuple) # prints False

True
False

In [42]:
## 7. Convert a tuple to a list.

# Create a tuple of numbers
my_tuple = (1, 2, 3, 4, 5)

# Convert the tuple to a list
my_list = list(my_tuple)

# Print the list
print(my_list) # prints [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [43]:
## 8. Convert a list to a tuple.

# Create a list of numbers
my_list = [1, 2, 3, 4, 5]

# Convert the list to a tuple
my_tuple = tuple(my_list)

# Print the tuple
print(my_tuple) # prints (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [45]:
## 9. Unpack the elements of a tuple into variables.

(variable1, variable2, ....., variableN) = tuple_name
(a, b, c) = my_tuple

SyntaxError: invalid syntax (1740598445.py, line 3)

In [46]:
## 10. Create a tuple of even numbers from 1 to 10.

# Create a tuple of even numbers from 1 to 10
even_tuple = tuple(range(2, 11, 2))

# Print the tuple
print(even_tuple) # prints (2, 4, 6, 8, 10)

(2, 4, 6, 8, 10)

In [47]:
## 11. Create a tuple of odd numbers from 1 to 10.

# Create a tuple of odd numbers from 1 to 10
odd_tuple = tuple(range(1, 11, 2))

# Print the tuple
print(odd_tuple) # prints (1, 3, 5, 7, 9)

(1, 3, 5, 7, 9)

In [48]:
## 12. Concatenate two tuples.

# Create two tuples named tuple1 and tuple2
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Concatenate the two tuples using the + operator
result = tuple1 + tuple2

# Print the result
print(result) # prints (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [49]:
##13. Repeat a tuple three times

# Create a tuple of numbers
my_tuple = (1, 2, 3)

# Repeat the tuple three times using the * operator
result = my_tuple * 3

# Print the result
print(result) # prints (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [50]:
## 14. Check if a tuple is empty.

# create a tuple
t = ()

# check if tuple is empty
print(len(t) == 0) # prints True

True

In [52]:
## 15. Create a nested tuple.

nested_tuple = ((1, 2, 3), (4, 5, 6))
print(nested_tuple[1][1]) # prints 5

5

In [53]:
## 16. Access the first element of a nested tuple.

# Create a nested tuple
nested_tuple = ((1, 2, 3), (4, 5, 6))

# Access the first element of the first tuple
print(nested_tuple[0][0]) # prints 1

1

In [1]:
## 17. Create a tuple with a single element.

my_tuple = ("apple",)
my_tuple = ("apple")

In [ ]:
## 18. Compare two tuples.

In [22]:
## 19. Delete a tuple in python


# Create a tuple
my_tuple = (1, 2, 3, 4, 5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [5]:
## 20. Slice a tuple.


my_tuple = ('a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z')
my_tuple[:5]

('a', 'b', 'c', 'd', 'e')

In [6]:
## 21. Find the maximum value in a tuple.

# Create a tuple
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple) # Output: (10, 20, 30, 40, 50)

# Find the maximum value in the tuple
max_value = max(my_tuple)
print(max_value)

(10, 20, 30, 40, 50)
50

In [7]:
## 22. Find the minimum value in a tuple.

# Create a tuple
my_tuple = (10, 20, 30, 40, 50)
print(my_tuple) # Output: (10, 20, 30, 40, 50)

# Find the minimum value in the tuple
min_value = min(my_tuple)
print(min_value)

(10, 20, 30, 40, 50)
10

In [8]:
## 23. Convert a string to a tuple of characters.

# Create a string
my_string = "Hello, world!"
print(my_string) # Output: Hello, world!

# Convert the string to a tuple of characters
my_tuple = tuple(my_string)
print(my_tuple)

Hello, world!
('H', 'e', 'l', 'l', 'o', ',', ' ', 'w', 'o', 'r', 'l', 'd', '!')

In [9]:
## 24. Convert a tuple of characters to a string.

# Create a tuple
my_tuple = ('H', 'e', 'l', 'l', 'o')
print(my_tuple) # Output: ('H', 'e', 'l', 'l', 'o')

# Convert the tuple to a string
my_string = ''.join(my_tuple)
print(my_string)

('H', 'e', 'l', 'l', 'o')
Hello

In [10]:
## 25. Create a tuple from multiple data types.

# Create a tuple using parentheses
my_tuple = ("Hello", True, 3.14, 42)
print(my_tuple) # Output: ('Hello', True, 3.14, 42)
print(type(my_tuple)) # Output: <class 'tuple'>

# Create a tuple using the tuple() function
my_tuple = tuple([1, "a", False, 2.5])
print(my_tuple) # Output: (1, 'a', False, 2.5)
print(type(my_tuple))

('Hello', True, 3.14, 42)
<class 'tuple'>
(1, 'a', False, 2.5)
<class 'tuple'>

In [11]:
## 26. Check if two tuples are identical.

a = (1, 2, 3)
b = (3, 2, 1)
c = (1, 2, 4)

print(set(a) == set(b)) 
print(set(a) == set(c))

True
False

In [2]:
## 27. Sort the elements of a tuple.

my_tuple = (5, 2, 9, 7, 1, 4)
my_list = list(my_tuple) # returns [5, 2, 9, 7, 1, 4]
my_list.sort() # sorts the list in place
sorted_tuple = tuple(my_list)

In [3]:
## 28. Convert a tuple of integers to a tuple of strings.

my_tuple = (1, 2, 3, 4, 5)
string_tuple = ()
for num in my_tuple:
    string_tuple += (str(num),) # append the string version of the number to the new tuple
print(string_tuple)

('1', '2', '3', '4', '5')

In [4]:
##29. Convert a tuple of strings to a tuple of integers.

my_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(map(int, my_tuple)) # apply the int() function to each element of the tuple and convert the result to a tuple
print(int_tuple)

(1, 2, 3, 4, 5)

In [5]:
## 30. Merge two tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [7]:
## 31. Flatten a nested tuple.

def flatten(nested_tuple):
    # base case: if the tuple is a pair of non-tuple elements, return it as it is
    if isinstance(nested_tuple, tuple) and len(nested_tuple) == 2 and not isinstance(nested_tuple[0], tuple):
        return (nested_tuple,)
    # recursive case: create an empty tuple to store the flattened elements
    flattened_tuple = ()
    # loop over each element of the tuple
    for element in nested_tuple:
        # if the element is a tuple, call the function on it and extend the flattened tuple with the result
        if isinstance(element, tuple):
            flattened_tuple += flatten(element)
        # otherwise, just append the element to the flattened tuple
        else:
            flattened_tuple += (element,)
    # return the flattened tuple
    return flattened_tuple

# a nested tuple with two levels of nesting
nested_tuple = ((11, 12), (13, 14), (15, 16))
# print the original tuple
print("The original tuple:", nested_tuple)
# print the flattened tuple
print("The flattened tuple:", flatten(nested_tuple))

The original tuple: ((11, 12), (13, 14), (15, 16))
The flattened tuple: ((11, 12), (13, 14), (15, 16))

In [8]:
## 32. Create a tuple of the first 5 prime numbers.



def is_prime(n):
    # if n is less than 2, it is not prime
    if n < 2:
        return False
    
    for i in range(2, int(n**0.5) + 1):
        # if n is divisible by i, it is not prime
        if n % i == 0:
            return False
    # otherwise, it is prime
    return True

# create an empty tuple to store the prime numbers
prime_tuple = ()
count = 0

# loop until 5 primes are found
while count < 5:
    # if the number is prime, append it to the tuple and increment the counter
    if is_prime(num):
        prime_tuple += (num,)
        count += 1
    # increment the number to check the next one
    num += 1
# print the tuple of the first 5 prime numbers
print(prime_tuple)

(5, 7, 11, 13, 17)

In [9]:
## 33. Check if a tuple is a palindrome.

def is_palindrome(tuple):
    return all(x == y for x, y in zip(tuple, tuple[::-1]))

print(is_palindrome(((1, 2), (3, 4), (3, 4), (1, 2)))) # True
print(is_palindrome(((1, 2), (3, 4), (5, 6), (7, 8)))) # False

True
False

In [10]:
## 34. Create a tuple of squares of numbers from 1 to 5.

# create an empty tuple to store the squares
square_tuple = ()
# loop from 1 to 5
for num in range(1, 6):
    # calculate the square of the number and append it to the tuple
    square_tuple += (num**2,)
# print the tuple of squares
print(square_tuple)

(1, 4, 9, 16, 25)

In [11]:
## 35. Filter out all even numbers from a tuple.

my_tuple = (1, 2, 3, 4, 5, 6)
odd_tuple = tuple(filter(lambda x: x % 2 != 0, my_tuple)) # filter out the even elements using a lambda function
print(odd_tuple) # (1, 3, 5)

(1, 3, 5)

In [12]:
## 36. Multiply all elements in a tuple by 2.

# Define a tuple
tup = (1, 2, 3, 4)

# Initialize an empty list
result = []

# Loop through the tuple and multiply each element by 2
for x in tup:
    result.append(x * 2)

# Convert the list to a tuple
result = tuple(result)

# Print the result
print(result)

(2, 4, 6, 8)

In [13]:
## 37. Create a tuple of random numbers

# Import the random module
import random

# Define the size and range of the random numbers
size = 5 # The number of random numbers in the tuple
start = 1 # The lower bound of the random numbers (inclusive)
end = 10 # The upper bound of the random numbers (exclusive)

# Create a list of random numbers using the random.randrange function
lst = [random.randrange(start, end) for _ in range(size)]

# Convert the list to a tuple using the tuple function
tup = tuple(lst)

# Print the tuple
print(tup)

(3, 3, 9, 1, 1)

In [14]:
## 38. Check if a tuple is sorted.

# Define a tuple
tup = (1, 2, 3, 4, 5)

# Check if the tuple is sorted in ascending order
if tup == tuple(sorted(tup)):
    print("The tuple is sorted in ascending order")
else:
    print("The tuple is not sorted in ascending order")

# Check if the tuple is sorted in descending order
if tup == tuple(sorted(tup, reverse=True)):
    print("The tuple is sorted in descending order")
else:
    print("The tuple is not sorted in descending order")

The tuple is sorted in ascending order
The tuple is not sorted in descending order

In [17]:
## 39. Rotate a tuple to the left by `n` positions

# Import the collections module
import collections

# Define a tuple
tup = (1, 2, 3, 4, 5)

# Define the number of positions to shift
n = 2

# Create a deque object from the tuple
deq = collections.deque(tup)

# Rotate the deque to the left by n positions using the rotate method
deq.rotate(-n) # Use a negative value to rotate to the left

# Convert the deque back to a tuple using the tuple function
result = tuple(deq)

# Print the result
print(result)

(3, 4, 5, 1, 2)

In [18]:
## 40. Rotate a tuple to the right by `n` positions

# Import the collections module
import collections

# Define a tuple
tup = (1, 2, 3, 4, 5)

# Define the number of positions to shift
n = 2

# Create a deque object from the tuple
deq = collections.deque(tup)

# Rotate the deque to the right by n positions using the rotate method
deq.rotate(n)

# Convert the deque back to a tuple using the tuple function
result = tuple(deq)

# Print the result
print(result)

(4, 5, 1, 2, 3)

In [19]:
## 41. Create a tuple of the first 5 Fibonacci numbers


n = 5
a = 0
b = 1

# Initialize an empty list
lst = []

# Loop through the range of n
for i in range(n):
    # Append the current term to the list
    lst.append(a)
    # Update the next term by adding the previous two terms
    a, b = b, a + b

# Convert the list to a tuple using the tuple function
tup = tuple(lst)

# Print the tuple
print(tup)

(0, 1, 1, 2, 3)

In [20]:
## 42. Create a tuple from user input.

# Ask the user to enter some values separated by commas
user_input = input("Enter some values: ")

# Split the user input by commas and store it in a list
user_list = user_input.split(",")

# Convert the list to a tuple using the tuple function
user_tuple = tuple(user_list)

# Print the tuple
print(user_tuple)

Enter some values:  23

('23',)

In [29]:
## 43. Swap two elements in a tuple.

# initializing list
test_list = [(3, 4), (6, 5), (7, 8)]
 
# printing original list
print("The original list is : " + str(test_list))
 
# Swap tuple elements in list of tuples
# Using list comprehension
res = [(sub[1], sub[0]) for sub in test_list]
         
# printing result
print("The swapped tuple list is : " + str(res))

The original list is : [(3, 4), (6, 5), (7, 8)]
The swapped tuple list is : [(4, 3), (5, 6), (8, 7)]

In [30]:
## 44. Reverse the elements of a tuple.

def Reverse(tuples):
    new_tup = tuples[::-1]
    return new_tup
     
# Driver Code
tuples = ('z','a','d','f','g','e','e','k')
print(Reverse(tuples))

('k', 'e', 'e', 'g', 'f', 'd', 'a', 'z')

In [20]:
## 45. Create a tuple of the first `n` powers of 2.

def powers_of_two(n: int) -> tuple:
    return tuple(2 ** i for i in range(n))

In [21]:
powers_of_two(5)

(1, 2, 4, 8, 16)

In [18]:
## 46. Find the longest string in a tuple of strings


def longest_string(strings):
    return max(strings, key=len)

strings = ('apple', 'banana', 'pear', 'kiwi', 'orange')
longest = longest_string(strings)
print(f"The longest string is {longest} with length {len(longest)}")

The longest string is banana with length 6

In [17]:
## 47. Find the shortest string in a tuple of strings.

def shortest_string(strings):
    return min(strings, key=len)

strings = ('apple', 'banana', 'pear', 'kiwi', 'orange')
shortest = shortest_string(strings)
print(f"The shortest string is {shortest} with length {len(shortest)}")

The shortest string is pear with length 4

In [5]:
## 48. Create a tuple of the first `n` triangular numbers.

def get_triangular_numbers(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_number = (i * (i + 1)) // 2
        triangular_numbers.append(triangular_number)
    return tuple(triangular_numbers)

In [6]:
get_triangular_numbers(3)

(1, 3, 6)

In [8]:
## 49. Check if a tuple contains another tuple as a subsequence.

def is_subsequence(sub, main):
    n = len(sub)
    for i in range(len(main) - n + 1):
        if main[i:i+n] == sub:
            return True
    return False

In [16]:
is_subsequence((1,2,3),(1,2,4,7,6))

False

In [9]:
##50. Create a tuple of alternating 1s and 0s of length `n`.

def alternating_tuple(n):
    return tuple([1 if i % 2 == 0 else 0 for i in range(n)])

In [11]:
alternating_tuple(4)

(1, 0, 1, 0)

In [23]:
####_______Set Based Practice Problem :
    
    
## 1. Create a set with integers from 1 to 5.

set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

In [25]:
## 2. Add an element to a set.

set1={1,2,3,4,5,6}
set1.add(7)
print(set1)

{1, 2, 3, 4, 5, 6, 7}

In [26]:
## 3. Remove an element from a set.

set2={2,4,6,8,1,3,5,7}
set2.remove(8)
print(set2)

{1, 2, 3, 4, 5, 6, 7}

In [27]:
## 4. Check if an element exists in a set.

my_set = {1, 2, 3, 4, 5}
element = 3

if element in my_set:
    print(f"{element} is present in the set.")
else:
    print(f"{element} is not present in the set.")

if element not in my_set:
    print(f"{element} is not present in the set.")
else:
    print(f"{element} is present in the set.")

3 is present in the set.
3 is present in the set.

In [30]:
## 5. Find the length of a set without using the `len()` function.


def set_length(s):
  # initialize a counter variable
  count = 0
  # loop through the set
  for elem in s:
    # increment the counter by 1
    count += 1
  # return the counter value
  return count

In [31]:
set_length({1,2,3,4,5,6})

6

In [32]:
## 6. Clear all elements from a set.

set3={1,2,3,4,5,7,6}
set3.clear()
print(set3)

set()

In [51]:
## 7. Create a set of even numbers from 1 to 10.

even_numbers = {2, 4, 6, 8, 10}

In [52]:
## 8. Create a set of odd numbers from 1 to 10.

odd_number={1,3,5,7,9}

In [60]:
## 9. Find the union of two sets


s1 = {1, 2, 3, 4, 5}
s2 = {'one', 'two', 'three'}
print(s1.union(s2))

{1, 2, 3, 4, 5, 'one', 'two', 'three'}

In [61]:
## 10. Find the intersection of two sets.


s1 = {1, 2, 3, 4, 5}
s2 = {'one',1,2,3}
print(s1.intersection(s2))

{1, 2, 3}

In [62]:
## 11. Find the difference between two sets.

# Define two sets
A = {1, 2, 3}
B = {3, 4, 5}

# Using the difference() method
C = A.difference(B)
D = B.difference(A)
print(C) # {1, 2}
print(D) # {4, 5}

# Using the - operator
C = A - B
D = B - A
print(C) 
print(D)

{1, 2}
{4, 5}
{1, 2}
{4, 5}

In [63]:
## 12. Check if a set is a subset of another set.

# Define two sets
A = {1, 2, 3}
B = {1, 2, 3, 4}

# Check if A is a subset of B using the issubset() method
print(A.issubset(B)) # True

# Check if A is a subset of B using the <= operator
print(A <= B) # True

# Check if A is a proper subset of B using the < operator
print(A < B) # True

# Check if A is a subset of itself using the issubset() method
print(A.issubset(A)) # True

# Check if A is a subset of itself using the <= operator
print(A <= A) # True

# Check if A is a proper subset of itself using the < operator
print(A < A) # False

True
True
True
True
True
False

In [64]:
## 13. Check if a set is a superset of another set

# Define two sets
A = {1, 2, 3}
B = {1, 2, 3, 4}

# Check if B is a superset of A using the issuperset() method
print(B.issuperset(A)) # True

# Check if B is a superset of A using the >= operator
print(B >= A) # True

# Check if B is a proper superset of A using the > operator
print(B > A) # True

# Check if A is a superset of itself using the issuperset() method
print(A.issuperset(A)) # True

# Check if A is a superset of itself using the >= operator
print(A >= A) # True

# Check if A is a proper superset of itself using the > operator
print(A > A) # False

True
True
True
True
True
False

In [66]:
## 14. Create a set from a list.

my_list = [1, 2, 3, 4, 4, 5]
my_set = set()
for x in my_list:
    my_set.add(x)
print(my_set)

{1, 2, 3, 4, 5}

In [69]:
##15. Convert a set to a list.

# convert a set into a list
def convert(set):
	return sorted(set)

# Driver function
my_set = {1, 2, 3}

s = set(my_set)
print(convert(s))

[1, 2, 3]

In [70]:
## 16. Remove a random element from a set.

# Define an empty set
my_set = set()
print("The original set:", my_set)

# Try to remove a random element from the set using the pop() method
try:
    random_element = my_set.pop()
    print("The removed element:", random_element)
except KeyError:
    print("The set is empty, nothing to remove")

# Print the modified set
print("The modified set:", my_set)

The original set: set()
The set is empty, nothing to remove
The modified set: set()

In [71]:
## 17. Pop an element from a set.

# Define a set
my_set = {1, 2, 3, 4, 5}
print("The original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()
print("The popped element:", popped_element)

# Print the modified set
print("The modified set:", my_set)

The original set: {1, 2, 3, 4, 5}
The popped element: 1
The modified set: {2, 3, 4, 5}

In [72]:
## 18. Check if two sets have no elements in common.

# Define two sets
A = {1, 2, 3}
B = {4, 5, 6}
print("The original sets:", A, B)

# Check if the sets have no elements in common using the isdisjoint() method
result = A.isdisjoint(B)
print("The result of isdisjoint():", result)

The original sets: {1, 2, 3} {4, 5, 6}
The result of isdisjoint(): True

In [73]:
## 19. Find the symmetric difference between two sets.

# Define two sets
A = {1, 2, 3}
B = {3, 4, 5}
print("The original sets:", A, B)

# Find the symmetric difference between the sets using the symmetric_difference() method
result1 = A.symmetric_difference(B)
print("The result of symmetric_difference():", result1)

# Find the symmetric difference between the sets using the ^ operator
result2 = A ^ B
print("The result of ^ operator:", result2)

The original sets: {1, 2, 3} {3, 4, 5}
The result of symmetric_difference(): {1, 2, 4, 5}
The result of ^ operator: {1, 2, 4, 5}

In [1]:
## 20. Update a set with elements from another set.

a = {1, 2, 3}
b = {3, 4, 5}
a.update(b)
a = {1, 2, 3, 4, 5}
a |= b
a = {1, 2, 3}
b = [4, 5, 6]
c = (7, 8, 9)
d = {"ten": 10, "eleven": 11}

a.update(b, c, d)
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, "ten", "eleven"}

In [2]:
## 21. Create a set of the first 5 prime numbers.

def first_n_primes(n):
    primes = []
    num = 2
    while len(primes) < n:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            primes.append(num)
        num += 1
    return primes

first_five_primes = set(first_n_primes(5))
print(first_five_primes)

{2, 3, 5, 7, 11}

In [3]:
## 22. Check if two sets are identical.

a = {1, 2, 3}
b = {3, 2, 1}
c = {1, 2, 4}

# Equality operator
print(a == b) # True
print(a == c) # False

# Subset check
print(a.issubset(b) and b.issubset(a)) # True
print(a.issubset(c) and c.issubset(a)) # False

# Symmetric difference
print(a.symmetric_difference(b)) # set()
print(a.symmetric_difference(c)) # {3, 4}

True
False
True
False
set()
{3, 4}

In [ ]:
## 23. Create a frozen set.

In [4]:
## 24. Check if a set is disjoint with another set.

def areDisjoint(set1, set2):
    for i in set1:
        for j in set2:
            if i == j:
                return False
    return True

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}
if areDisjoint(set1, set2):
    print("The sets are disjoint.")
else:
    print("The sets are not disjoint.")

The sets are disjoint.

In [5]:
## 25. Create a set of squares of numbers from 1 to 5.

fruits = frozenset(["apple", "banana", "cherry"])
print(fruits)
frozenset({'banana', 'cherry', 'apple'})
my_set = {1, 2, 3, 4}
my_frozen_set = frozenset(my_set)
print(my_frozen_set)

frozenset({'apple', 'banana', 'cherry'})
frozenset({1, 2, 3, 4})

In [8]:
## 26. Filter out all even numbers from a set.

my_set = {1, 2, 3, 4, 5, 6}
odd_set = set(filter(lambda x: x % 2 != 0, my_set))
print(odd_set)

{1, 3, 5}

In [6]:
## 27. Multiply all elements in a set by 2.

my_set = {1, 2, 3, 4, 5}
my_new_set = {i * 2 for i in my_set}
print(my_new_set)

{2, 4, 6, 8, 10}

In [9]:
## 28. Create a set of random numbers.

# Import the random module
import random

# Create a set of 5 random integers between 1 and 10
my_set = set()
while len(my_set) < 5:
    my_set.add(random.randint(1, 10))
print(my_set)

# Create a set of 3 random elements from another set
another_set = {10, 20, 30, 40, 50}
my_set = set(random.sample(another_set, 3))
print(my_set)

# Create a set of 4 random characters from a string
my_string = "abcdefghijklmnopqrstuvwxyz"
my_set = set(random.choice(my_string) for _ in range(4))
print(my_set)

# Shuffle the elements of a set
my_set = {1, 2, 3, 4, 5}
my_list = list(my_set) # Convert the set to a list
random.shuffle(my_list) # Shuffle the list
my_set = set(my_list) # Convert the list back to a set
print(my_set)

{3, 6, 7, 9, 10}
{50, 10, 20}
{'w', 'e', 'r', 'k'}
{1, 2, 3, 4, 5}

/tmp/ipykernel_2209/3469773945.py:14: DeprecationWarning: Sampling from a set deprecated
since Python 3.9 and will be removed in a subsequent version.
  my_set = set(random.sample(another_set, 3))

In [11]:
## 29. Check if a set is empty.

my_set= {1, 2, 3, 4, 5}
if len(my_set) == 0:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is not empty.

In [12]:
## 30. Create a nested set (hint: use frozenset).

# Create a frozenset from a list
fs1 = frozenset([1, 2, 3])
print(fs1) # frozenset({1, 2, 3})

# Create a frozenset from a set
fs2 = frozenset({4, 5, 6})
print(fs2) # frozenset({4, 5, 6})

# Create a frozenset from a tuple
fs3 = frozenset((7, 8, 9))
print(fs3) # frozenset({7, 8, 9})

frozenset({1, 2, 3})
frozenset({4, 5, 6})
frozenset({8, 9, 7})

In [14]:
## 31. Remove an element from a set using the discard method

# Create a set
my_set = {1, 2, 3, 4, 5}
print(my_set) # {1, 2, 3, 4, 5}

# Remove an element using discard
my_set.discard(3)
print(my_set) # {1, 2, 4, 5}

# Try to remove an element that is not in the set
my_set.discard(6)
print(my_set) # {1, 2, 4, 5}

{1, 2, 3, 4, 5}
{1, 2, 4, 5}
{1, 2, 4, 5}

In [13]:
## 32. Compare two sets.

set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}
if set1 == set2:
    print("The sets are equal.")
else:
    print("The sets are not equal.")

The sets are not equal.

In [15]:
## 33. Create a set from a string.

string = "example"
string_set = set(string)
print(string_set)

{'m', 'e', 'x', 'a', 'l', 'p'}

In [16]:
## 34. Convert a set of strings to a set of integers.

my_set = {"1", "2", "3"}
my_set = {int(x) for x in my_set}
print(my_set) # {1, 2, 3}

{1, 2, 3}

In [17]:
## 35. Convert a set of integers to a set of strings.

int_set = {1, 2, 3, 4, 5}
str_set = set(map(str, int_set))
print(str_set)

{'1', '4', '2', '5', '3'}

In [20]:
## 36. Create a set from a tuple.

my_tuple = (1, 2, 3, 4, 5)
my_set = set(my_tuple)
print(my_set)

{1, 2, 3, 4, 5}

In [18]:
## 37. Convert a set to a tuple

int_set = {1, 2, 3, 4, 5}
tuple_set = tuple(int_set)
print(tuple_set)

(1, 2, 3, 4, 5)

In [22]:
## 38. Find the maximum value in a set.

my_set = {1, 2, 3, 4, 5}
max_value = max(my_set)
print(max_value)

5

In [19]:
## 39. Find the minimum value in a set.

int_set = {1, 2, 3, 4, 5}
min_value = min(int_set)
print(min_value)

1

In [21]:
## 40. Create a set from user input.

user_input = input("Enter a string: ")
my_set = set(user_input)
print(my_set)

Enter a string:  bajrang

{'b', 'g', 'j', 'n', 'a', 'r'}

In [1]:
## 41. Check if the intersection of two sets is empty


def is_intersection_empty(set1, set2):
    return len(set1 & set2) == 0

set1 = {1, 2, 3}
set2 = {4, 5, 6}
if is_intersection_empty(set1, set2):
    print("The intersection of set1 and set2 is empty.")
else:
    print("The intersection of set1 and set2 is not empty.")

The intersection of set1 and set2 is empty.

In [2]:
## 42. Create a set of the first 5 Fibonacci numbers.

def fibonacci(n):
    if n <= 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]
    else:
        fib = [0, 1]
        for i in range(2, n):
            fib.append(fib[i-1] + fib[i-2])
        return fib[:5]

print(fibonacci(5))

[0, 1, 1, 2, 3]

In [3]:
## 43. Remove duplicates from a list using sets.

def remove_duplicates(lst):
    return list(set(lst))

lst = [1, 2, 3, 2, 1, 4, 5, 4]
print(remove_duplicates(lst))

[1, 2, 3, 4, 5]

In [4]:
## 44. Check if two sets have the same elements, regardless of their count.

def are_sets_equal(set1, set2):
    return set1 == set2

set1 = {1, 2, 3}
set2 = {3, 2, 1}
if are_sets_equal(set1, set2):
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [8]:
## 45. Create a set of the first `n` powers 2
 
    
def powers_of_two(n: int) :
    return tuple(2 ** i for i in range(n))

In [9]:
powers_of_two(8)

(1, 2, 4, 8, 16, 32, 64, 128)

In [27]:
## 46. Find the common elements between a set and a list.

In [28]:
def common_member(a, b):
    result = [i for i in a if i in b]
    return result
 
a = [1, 2, 3, 4, 5]
b = [5, 6, 7, 8, 9]
 
print("The common elements in the two lists are: ")
print(common_member(a, b))

The common elements in the two lists are:
[5]

In [29]:
## 47. Create a set of the first `n` triangular numbers.
def isTriangular(num):
 
    # Base case
    if (num < 0):
        return False
 
    # A Triangular number must be 
    # sum of first n natural numbers
    sum, n = 0, 1
 
    while(sum <= num): 
     
        sum = sum + n
        if (sum == num):
            return True
        n += 1
 
    return False
 
# Driver code
n = 55
if (isTriangular(n)):
    print("The number is a triangular number")
else:
    print("The number is NOT a triangular number")

The number is a triangular number

In [30]:
get_triangular_numbers(5)

(1, 3, 6, 10, 15)

In [31]:
#### 47. Create a set of the first `n` triangular numbers.  second step


def get_triangular_numbers(n):
    triangular_numbers = []
    for i in range(1, n + 1):
        triangular_number = (i * (i + 1)) // 2
        triangular_numbers.append(triangular_number)
    return tuple(triangular_numbers)

In [36]:
get_triangular_numbers(4)

(1, 3, 6, 10)

In [37]:
## 48. Check if a set contains another set as a subset.

A = {4, 1, 3, 5}
B = {6, 0, 4, 1, 5, 0, 3, 5}

print(A.issubset(B))
print(B.issubset(A))

True
False

In [38]:
## 49. Create a set of alternating 1s and 0s of length `n`.

# count of 1
count_1 = 4
 
# count of 0
count_0 = 3
 
# total length of list
size = 14
 
# initializing list cyclically
# using list comprehension
test_list = [1 if i % (count_1 + count_0) < count_1
             else 0 for i in range(size)]
 
# printing list after change
print("The list after initializing : " + str(test_list))

The list after initializing : [1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0]

In [39]:
## 50. Merge multiple sets into one.

# Create sets
myset1 = {1,2,3,4,5,6}
myset2 = {7,8,9,1,4}

# Join using operator |
myset = myset1 | myset2
print(myset)

{1, 2, 3, 4, 5, 6, 7, 8, 9}